/*--------------------
----------------------
***** STYLESHEET *****
----------------------
--------------------*/

/*-----------------
***** GENERAL *****
-----------------*/

body {
	font-family: "Avenir Next", "Fira Sans", sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

h1,
h2 {
	margin: 0;
}

p {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
}

a {
	color: #000;
}


/*----------------
***** HEADER *****
----------------*/

/*--- General ---*/

header {
	height: 130px;
}

header > .headWrap {
	margin: auto;
	padding: 10px 0;
	width: 68%;
}


/*--- Logo ---*/

header > .headWrap > .logo {
	background-image: url(../img/logo/yannouk-logo_black.png);
	background-repeat: no-repeat;
	background-size: 70px;
	float: left;
	height: 100px;
	margin: 10px 0 0 0;
	width: 100px;
}

header > .headWrap > .logo > a {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
}

header > .headWrap > .logo > a span {
	opacity: 0;
}


/*--- Desktop Nav ---*/

/* Language nav */

header > .headWrap > .langNav {
	float: right;
}

header > .headWrap > .langNav > ul {
	margin: 0;
	padding: 0;
}

header > .headWrap > .langNav > ul > li {
	display: inline-block;
	list-style: none;
	margin: 0 2px;
}

header > .headWrap > .langNav > ul > li > a {
	font-size: 1em;
	padding: 0 3px;
}


/* Main nav */

header > .headWrap > .mainNav > ul {
	margin: 0 auto;
	margin-top: 37px;
	padding: 0;
	width: 511px;
}

header > .headWrap > .mainNav > ul > li {
	display: inline-block;
	list-style: none;
}

header > .headWrap > .mainNav > ul > li > a {
	font-size: 1.3em;
	padding: 5px 10px;
}


/* Main nav & Language nav */

header > .headWrap > .mainNav > ul > li > a,
header > .headWrap > .langNav > ul > li > a {
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
}

header > .headWrap > .mainNav > ul > li > a:after,
header > .headWrap > .langNav > ul > li > a:after {
	background: #aaa;
	bottom: 0;
	color: transparent;
	content: '.';
	height: 1px;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: left;
	width: 0;
}

header > .headWrap > .mainNav > ul > li > a:hover,
header > .headWrap > .langNav > ul > li > a:hover {
	color: #808080;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

header > .headWrap > .mainNav > ul > li > a:hover:after,
header > .headWrap > .langNav > ul > li > a:hover:after {
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	-o-animation: fill 1s forwards;
	opacity: 1;
	z-index: -10;
}

header > .headWrap > .mainNav > ul > li > .active {
	color: #808080;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

header > .headWrap > .mainNav > ul > li > .active:after {
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	-o-animation: fill 1s forwards;
	background: #aaa;
	bottom: 0;
	color: transparent;
	content: '.';
	height: 1px;
	left: 0;
	margin: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	text-align: left;
	width: 0;
	z-index: -10;
}


/*--- Mobile nav ---*/

/* Mobile nav button */

.m-mainNav-btn {
	cursor: pointer;
	display: none;
	height: 30px;
	margin: 11px 10px;
	position: absolute;
	top: 12px;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	width: 40px;
	z-index: 103;
}

.m-mainNav-btn span {
	background: #fff;
	cursor: pointer;
	display: block;
	height: 2px;
	left: 0;
	opacity: 1;
	position: absolute;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
	width: 100%;
}

.m-mainNav-btn span:nth-child(1) {
	top: 0;
}

.m-mainNav-btn span:nth-child(2),
.m-mainNav-btn span:nth-child(3) {
	margin-top: 14px;
}

.m-mainNav-btn span:nth-child(4) {
	bottom: 0;
}

.open span:nth-child(1) {
	left: 50%;
	margin-top: 18px;
	width: 0;
}

.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.open span:nth-child(4) {
	left: 50%;
	top: 18px;
	width: 0;
}


/* Mobile nav */

.m-mainNav {
	background: #000;
	background: rgba(0, 0, 0, 0.95);
	display: none;
	left: 0;
	padding-top: 75px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 102;
}

.m-mainNav ul {
	margin: auto;
	padding: 0;
	width: 100%;
}

.m-mainNav ul li {
	list-style: none;
	width: 100%;
}

.m-mainNav ul li a {
	color: #FFF;
	display: block;
	font-size: 1.3em;
	font-weight: 400;
	opacity: 1;
	padding: 10px;
	position: relative;
	text-decoration: none;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.m-mainNav ul li a:after {
	background: #aaa;
	bottom: 0;
	color: transparent;
	content: '.';
	height: 1px;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: left;
	width: 0;
}

.m-mainNav ul li a:hover {
	color: #808080;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

.m-mainNav ul li a:hover:after {
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	-o-animation: fill 1s forwards;
	opacity: 1;
	z-index: -10;
}


/*--------------
***** MAIN *****
--------------*/

main {
	margin: auto;
	width: 70%;
}


/*--- BANNER ---*/

.banner {
	background-image: url(../img/banner.png);
	background-position: center;
	background-size: cover;
	color: #fff;
	font-size: 1.5em;
	margin-top: 30px;
	padding: 100px 0;
	text-align: center;
}


/*--- BREADCRUMBS - HOME ---*/

.breadcrumbs {
	margin: 10px 0;
}

.breadcrumbs span,
.breadcrumbs span a {
	color: #808080;
}


/*--- POST - HOME ---*/

.content {
	margin-top: 20px;
}

.post-container-fullwidth {
	width: 100%;
}

.post-container {
	float: left;
	margin: 1%;
	width: 31.33%;
	box-shadow: 0 10px 20px -4px rgba(0,0,0,.5);
}

.post-article {
	border: 0;
	padding-bottom: 1%;
	position: relative;
}

.post-title {
	position: absolute;
	text-align: left;
	width: 100%;
}

.post-title span {
	color: #ffffff;
	font-size: 0.6em;
	line-height: 16px;
	text-decoration: underline;
}

.post-title a {
	background: #000;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	color: #fff;
	display: block;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0;
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	width: 96%;
}

.post-title a:hover {
	opacity: 0;
}

.post-info {
	border-bottom: 1px dotted #CCC;
	color: #808080;
	display: none;
	font-size: 0.8em;
	margin: 0;
	margin-bottom: 1%;
	padding: 0;
	padding-bottom: 10px;
}

.post-wrapper {
	display: table;
	width: 100%;
}

.post-image {
	background-position: center center;
	background-size: cover;
	display: table-cell;
	width: 33.33%;
}

.post-image2 {
	background-position: center center;
	background-size: cover;
	height: 50vh;
	width: 100%;
}

.post-content {
	padding: 1% 1% 2% 2%;
}

.post-body {
	display: table-cell;
	width: 64.66%;
}

.post-link {
	background: #000;
	color: #FFF;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 10px;
	text-decoration: none;
}

.post-link:hover {
	background: #414141;
	color: #FFF;
}

.post-wrapper iframe {
	height: 38.6vw;
	width: 68.6vw;
}

.images .grid-image, .images .grid-showmore {
	float: left;
	margin: 1%;
	object-fit: cover; 
	width: 31.33%;
}

.images .grid-image {
	display: none;
}

.images .grid-image:nth-child(-n+9) {
	display: block;
}

.images .grid-showmore {
	background: #CCC;
	justify-content: center;
	text-align: center;
}

.images .grid-showmore a {
	color: #FFF;
	display: block;
	font-weight: bold;
	margin: auto;
	text-align: center;
	text-decoration: none;
}

.grid {
	display: none;
}

.grid .col {
	float: left;
}

.grid .col:nth-child(1) {
	margin-left: 0;
	width: 32.66%;
}

.grid .col-min:nth-child(1) {
	width: 100%;
}

.grid .col:nth-child(2) {
	display: none;
	margin: 0 1%;
	width: 32.66%;
}

.grid .col:nth-child(3) {
	display: none;
	margin-right: 0;
	width: 32.66%;
}

.grid .grid-image {
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.grid .grid-image {
	width: 100%;
}

.grid .grid-image {
	margin-bottom: 3%;
}

.grid .grid-image:hover {
	background-size: 170%;
	cursor: pointer;
	opacity: 0.8;
}


/*--- PHOTO - VIDEO ---*/

.post-container-detail {
	float: left;
	width: 33.33%;
}

.post-cover {
	width: 100%;
}

.post-cover .cover {
	background-position: center;
	background-size: cover;
}

.post-cover .design-cover {
	height: 250px;
	width: 100%;
}

.post-cover .video-cover {
	background-size: 180%;
}

.play-small {
	display: block;
}

.play-large {
	display: none;
}

.post-cover .cover img {
	opacity: 0.8;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 100%;
}

.post-cover:hover .cover img {
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	opacity: 1;
}

.post-cover:hover .design-cover {
	cursor: pointer;
	opacity: 0.8;
}

.fullscreen {
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	overflow: scroll;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 200;
}

.fullscreen > div {
	display: table;
	padding-top: 160px;
	position: absolute;
	width: 100%;
}

.fullscreen > div > div {
	display: table-cell;
	vertical-align: middle;
}

.fullscreen > div > div > div {
	margin: auto;
	width: 70%;
}

.fullscreen > div > div > div iframe {
	height: 39.4vw;
	width: 70vw;
}

.fullscreen > div > div > div img {
	width: 100%;
}


/*-----------------
***** CONTACT *****
-----------------*/

.footer a {
	color: #808080;
}


/*----------------
***** FOOTER *****
----------------*/

footer {
	border-top: 1px solid #000;
	margin: 1%;
}

footer > .footWrap {
	font-size: 0.9em;
	height: 70px;
	margin: 0 1% 0 1%;
	position: absolute;
	width: 98%;
}

footer > .footWrap > div {
	text-align: center;
	width: 100%;
}

footer > .footWrap > .copyright {
	display: table;
	height: 100%;
}

footer > .footWrap > .copyright p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

footer > .footWrap > div > p > a {
	color: #000;
}

footer > .footWrap > .webdesign {
	background-image: url(../img/logo/yannouk-logo_black.png);
	background-repeat: no-repeat;
	background-size: 50px;
	float: left;
	height: 63px;
	margin-top: 7px;
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
}

footer > .footWrap > .webdesign {
	overflow: hidden;
}

footer > .footWrap > .webdesign a {
	opacity: 0;
}


/*---------------
***** OTHER *****
---------------*/

/*--- Clearfix ---*/

.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}


/*--------------------
***** KEYFRAMES *****
--------------------*/

/*--- Fill ---*/

@-webkit-keyframes fill {
	0% {
		width: 0;
		height: 1px;
	}
	50% {
		width: 100%;
		height: 1px;
	}
	100% {
		width: 100%;
		height: 100%;
		background: #fff;
	}
}


/*--------------------
***** MEDIA TAGS *****
--------------------*/

/*--- Max width 1250px ---*/

@media screen and (max-width: 1250px) {
	header > .headWrap {
		width: 78%;
	}
	main {
		width: 80%;
	}
	.post-wrapper iframe {
		height: 44.3vw;
		width: 78.5vw;
	}
	.fullscreen > div > div > div {
		width: 80%;
	}
}


/*--- Max width 1090px ---*/

@media screen and (max-width: 1090px) {
	header > .headWrap {
		width: 88%;
	}
	main {
		width: 90%;
	}
	.post-wrapper iframe {
		height: 49.6vw;
		width: 88.2vw;
	}
	.fullscreen > div > div > div {
		width: 90%;
	}
}


/*--- Max width 1000px ---*/

@media screen and (max-width: 1000px) {
	header > .headWrap {
		height: 75px;
		width: 98%;
	}
	main {
		margin: 0;
		width: 100%;
	}
	.post-wrapper iframe {
		height: 55.1vw;
		width: 98vw;
	}
	.fullscreen > div > div > div {
		margin: 0 1%;
		width: 98%;
	}
	.fullscreen > div > div > div iframe {
		height: 55.1vw;
		margin: auto;
		width: 98vw;
	}
}


/*--- Max width 870px ---*/

@media screen and (max-width: 870px) {
	header {
		height: 75px;
	}
	header > .headWrap {
		height: 80px;
	}
	header > .headWrap > .logo {
		background-position: center;
		background-size: 60px;
		float: none;
		height: 66px;
		margin: 0 auto 0 auto;
		margin-top: -5px;
	}
	header > .headWrap > .langNav,
	header > .headWrap > .mainNav {
		display: none;
	}
	.m-mainNav-btn {
		cursor: pointer;
		display: block;
	}
	.mainNav ul .li-menu {
		display: block;
		width: 25%;
	}
	.m-mainNav {
		display: none;
	}
	.play-small {
		display: block;
	}
	.play-large {
		display: none;
	}
	.post-article {
		margin: 1% 1% 6%;
	}
}


/*--- Max width 775px ---*/

@media screen and (max-width: 775px) {
	.post-wrapper {
		display: block;
	}
	.post-image {
		display: block;
		height: 300px;
		width: 100%;
	}
	.post-container {
		width: 48%;
	}
	.post-article a {
		font-size: 0.7em;
	}
	.post-container-detail {
		padding: 0;
		width: 100%;
	}
}
