body {
	background: #000;
}

h1 {
	color: #fff;
}

header {
	background: #000;
}

header .logo {
	background-image: url(../img/onzerijkdom-logo_white.png);
}

header nav ul li:last-child a {
	color: #000;
	background: #fff;
}

header nav ul li a {
	color: #fff;
}