/* Algemene CSS voor site */
 body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
}
main {
    position: relative;
}
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

p{
font-size: 1em;		
}

h1{
    font-size: 2em;
}

h2{
	font-size: 1.75em;
}

h3{
	font-size: 1.25em
}
/*header*/
 header {
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 1em 0;
}
.logo {
    background-image: url(../img/logoBolidesheader-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 29%;
    margin-left: 1%;
    height: 100px;
    float: left;
}
.logo a {
    display: block;
    height: 100%;
}
.mainnav {
    width: 70%;
    float: right;
    margin: 0;
}
.mainnav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}
.mainnav ul li {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 40px;
}

.mainnav ul li a {
  width: 16%;
  color: #FFF;
  text-decoration: none;
  font-family: "Arial";
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0);
  padding: 10px;
  -webkit-transition: background 0.5s, border 0.5s ease-in-out;
  -moz-transition: background 0.5s, border 0.5s ease-in-out;
  -o-transition: background 0.5s, border 0.5s ease-in-out;
  transition: background 0.5s, border 0.5s ease-in-out;
}

.mainnav ul li a:hover{
	background-color: #F88C20;
}

.mainnav ul .logo {
  height: 100px;
  width: 20%;
  margin-top: 0;
  list-style-type: none;
}

.mainnav ul .aanmelden a {
  background-color: #F88C20;
  padding: 10px;
  -webkit-transition: background 0.5s, border 0.5s ease-in-out;
  -moz-transition: background 0.5s, border 0.5s ease-in-out;
  -o-transition: background 0.5s, border 0.5s ease-in-out;
  transition: background 0.5s, border 0.5s ease-in-out;
}

.mainnav ul .aanmelden a:hover {
  background-color: #e92530;
}
.mainnav ul li a.active {
  border-bottom: 3px solid #F39423;
}
/* banner */
 .banner {
    position: relative;
    background: url(../img/Banner.jpg);
    background-size: cover;
    background-position: bottom;
    height: 90vh;
}
.banner p, .banner h1 {
    margin: 3%;
}
.banner h1 {
    margin-bottom: 1em;
}
.banner .paginaverwijzing {
    position: absolute;
    bottom: 0px;
    margin-left: 0px;
    padding: 3%;
    float: left;
    width: 40%;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    text-align: center;
}
.Bannerdiv {
    margin-top: 40vh;
    margin-right: 1vw;
    padding: 1vw;
    float: right;
    width: 40%;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}
/* CSS voor homepage*/
 .container {
    padding: 0 7%;
}
.voordelen {
    padding-bottom: 50px;
}
.voordelen h2 {
    text-align: center;
    margin: 50px 0;
}
.voordelen .voordelen-1 div {
    float: left;
    width: 25%;
    text-align: center;
}
.voordelen .voordelen-1 div figure {
    margin: 0 25%;
    float: left;
    width: 50%;
}
.voordelen .voordelen-1 div figure img {
    margin: 0 auto;
    width: 100%;
}
.voordelen .voordelen-1 div figcaption {
    clear: left;
    padding-top: 1.5em;
    font-family:"Arial";
}
.voordelen .voordelen-2 {
    clear:left;
    width: 100%;
    display: table;
    padding-top: 50px;
}
.voordelen .voordelen-2 ul {
    float: left;
    display: table-cell;
}
.voordelen .voordelen-2 ul li {
    padding: 1em;
}
.voordelen .voordelen-2 div {
    background: url(../img/stock-photo-77682007-woman-makes-gesture-with-thumb-up.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 50%;
    display: table-cell;
		
}
.voordelen .voordelen-2 figure img {
    width: 100%;
}
.slider {
    background: url(../img/audi.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
    margin-bottom: 50px;
}
.slider .slider-content {
    margin: auto;
    padding: 2vw;
    width: 40%;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

.slider .slider-content p:last-child {
    margin-left: 60%;
}
.kosten .kosten-1 {
    text-align: center;
}
.kosten .kosten-1 p {
    margin: 0;
}
.kosten .kosten-1 img {
    max-width: 90%;
    padding: 50px 5%;
}
.kosten .kosten-2 {
    clear:left;
    width: 100%;
    display: table;
}

.kosten .kosten-2 div:last-child {
    float: left;
    display: table-cell;
    padding-left: 20%;
}
.kosten .kosten-2 ul li {
    padding: 1em;
}
.kosten .kosten-2 div:first-child {
    background: url(../img/leunen.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 50%;
    display: table-cell;
}

.map {
    background: url(../img/kaart2.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-bottom: 50px;
    margin-top: 50px;
}
.map div {
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 40%;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}
.map input {
    padding: 1em;
    margin-bottom: 20px;
    width: 60%;
    border: none;
}
.map input[placeholder]{
	text-align: center;
}
.video h2 {
    text-align: center;
}
.video video {
    width: 100%;
}
footer {
  background-color: RGB(0, 0, 0);
  color: white;
  font-family: Arial;
  padding: 0 5%;
clear: both;
}


footer .boven {
}

footer .boven .social {
  width: 30%;
  float: left;
}

footer .boven .form {
  width: 70%;
  float: left;
}

footer .boven div ul {
  padding: 10px 0;
  padding-right: 20%;
  width: 80%;
  margin: 0;
}

footer .boven div ul li {
  text-indent: -9999px;
  list-style: none;
  display: inline;
}

footer .boven div form {
  padding-top: 2%;
  margin: 0;
  float: right;
}

footer .boven div form input {
  padding: 10px;
  border: 0;
}

footer .boven div form .email {
  width: 150px;
}

footer .boven div form .verzenden {
  background-color: RGB(245, 145, 32);
  color: #FFF;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
footer .boven div form .verzenden:hover {
  background: #fc0d1b;
}


footer .onder {
  clear: both;
  border-top: 2px solid #FFF;
}

footer .onder div {
  width: 50%;
  float: left;
  margin: 10px 0;
}

footer .onder div p {
  padding: 10px 0;
  margin: 0;
}

footer .onder div ul {
  float: right;
  padding: 10px 0;
  margin: 0;
}

footer .onder div:last-child ul li {
  display: inline;
  list-style: none;
}

footer .onder div:last-child ul li a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

footer .onder div ul li a:hover {
  color: RGB(245, 145, 32)
}

.onder li a:focus {
  color: RGB(245, 145, 32)
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

footer .boven .social ul li a .sprite {
  width: 15%;
  height: 0;
  padding-bottom: 15%;
  margin: 0 5% 0 0;
  float: left;
  display: block;

}

.Facebook {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
}

.Twitter {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
  background-position: 25% 0;
}

.Mail {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
  background-position: 50% 0;
}

.Appstore-footer {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
  background-position: 100% 0;
}

.Playstore-footer {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
  background-position: 75% 0;
}

.Facebook:hover {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
  background-position: 0% 100%;
}

.Twitter:hover {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
  background-position: 25% 100%;
}

.Mail:hover {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
  background-position: 50% 100%;
}

.Appstore-footer:hover {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
  background-position: 100% 100%;
}

.Playstore-footer:hover {
  background: url(../img/footericonsBolidesspritesheet-01.png) no-repeat;
  background-size: 500%;
  background-position: 75% 100%;
}




/* CSS voor FAQ*/
 #faq-zoek {
    line-height: 4em;
    margin-top: 5%;
    margin-left: 17.5%;
    width: 65%;
    height: 10%;
    text-align: center;
    border: 1px solid black;
}
#faq-zoek-input input {
    font-size: 2em;
    margin-top: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    outline: none;
    border: 0;
    text-align: center;
}
#faq h2, #faq h1 {
    color: orange;
}
.faq-cat {
    text-align: center;
    clear: both;
    display: block;
    margin: 25px 0 -175px 0;
}
#faq {
    line-height: 2em;
}
.faq-left, .faq-right {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 75px;
    padding-left: 5px;
    padding-right: 5px;
    width: 43%;
    float: left;
}
.faq-right {
    float: right;
}
.alle-artikelen {
    font-weight: bold;
    text-decoration: underline;
}
.faq {
    list-style-type: none;
    margin-bottom: 5%;
}
.faq li a {
    font-family: Arial;
    color: black;
    text-decoration:none;
}
.faq-left-detail {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 10%;
    margin-top: 200px;
    padding-left: 5px;
    padding-right: 5px;
    width: 35%;
    float: left;
    text-align: justify;
}
.faq-righdetail {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 200px;
    padding-left: 5px;
    padding-right: 15px;
    width: 35%;
    float: left;
    height: 250px;
}
.faq a {
    text-decoration: none;
    color: black;
}
.faq {
    list-style-type: none;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none
}
#faqregister1img {
    width: 40%;
    margin-top: 225px;
    margin-left: 5%;
}
/*CSS voor contact*/
 .linkerkolom {
    box-sizing: border-box;
    margin-left: 10%;
    color: black;
    width: 50%;
    float: left;
    clear: left;
}
.linkerkolom input, .linkerkolom textarea {
    background-color: #D4D4D3;
    height: 35px;
    margin-top: 2%;
    width: 90%;
    display: block;
    outline: none;
    border: 0;
    padding-left: 1em;
}
.linkerkolom textarea {
    height: 200px;
    max-height: 250px;
    width: 90%;
    max-width: 90%;
    clear: both;
    line-height: 2em;
}
input#verzenden {
    width: 45%;
}
input#verzenden:active {
    box-shadow: 2px 1px 1px grey;
}
.rechterkolom {
    box-sizing: border-box;
    width: 30%;
    margin-top: 5%;
    margin-right: 10%;
    float: right;
    padding-left: 5%;
}
.rechterkolom h2 {
    margin-top: 0;
    padding-top: 0;
}
/* CSS voor algemenevoorwaarden */
 .voorwaarden_inhoud a, .voorwaarden_inhoud ul, .artikels {
    text-decoration: none;
    color: black;
    list-style-type: none;
    padding: 0;
}
.voorwaarden_inhoud, .artikels {
    margin-left: 10%;
    margin-right: 10%;
}
.voorwaarden_inhoud {
    font-weight: bold;
}
.voorwaarden_inhoud li a:hover, .voorwaarden_inhoud li a:focus {
    color: #F39423;
}
.voorwaarden_inhoud h2 {
    color: black;
}
 .artikels h3 {
    color: #F39423;
}
#totop {
    border: 2px solid black;
    padding: 1px;
    height: 15px;
    border-radius: 1px;
    text-align: center;
    width: 95px;
}
#totop a {
    text-decoration: none;
    color: black;
}
:target {
    padding-top: 30px;
}
/* CSS om te registreren*/
 .registreer {
    margin: 1em;
}
.registreer h1, .registreer h3 {
    margin-left: 7.5%;
}
.linkerkolom,
.contact-linkerkolom {
  box-sizing: border-box;
  margin-left: 7.5%;
  margin-right: 2.5%;
  margin-bottom: 50px;
  color: black;
  width: 30%;
  float: left;
}
.contact-linkerkolom {
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 0;
    width: 50%;
}
.linkerkolom input, .linkerkolom textarea, .linkerkolom select {
    box-sizing: border-box;
    background-color: #D4D4D3;
    height: 35px;
    margin-top: 2%;
    width: 100%;
    display: block;
    outline: none;
    border: 0;
    padding-left: .1em;
    -moz-appearance:none;
    -webkit-appearance:none;
    border:1px solid transparent;
    -webkit-border-radius:0;
    border-radius:0;
}
.contact-linkerkolom input, .contact-linkerkolom textarea {
    background-color: #D4D4D3;
    height: 35px;
    margin-top: 2%;
    width: 90%;
    display: block;
    outline: none;
    border: 0;
    padding-left: 1em;
}
.linkerkolom textarea, .contact-linkerkolom textarea {
    height: 200px;
    max-height: 250px;
    width: 90%;
    max-width: 90%;
    clear: both;
    line-height: 2em;
}
input.volgende, input.vorige, input.volgende-apart {
    box-sizing: border-box;
		display: block;
    width: 45%;
    float: left;
    margin-right: 5%;
    margin-top: 10%;
    background-color: #F88C20;
		padding: 0;
}
input.volgende{
		display: block;
		float: left;
		margin-left: 5%;
		margin-right: 0;
					}


input#verzendencontact {
    width: 45%;
    background-color: #F88C20;
    outline: none;
}
input#volgende {
    display: block;
    float: left;
    margin-left: 5%;
    margin-right: 0;
    background-color: #F39423;
}
input#vorige {
    padding: 1em;
}
input#volgende:active, input#vorige:active, input#verzendencontact:active {
    box-shadow: 2px 1px 1px grey;
}
.middenkolom {
    box-sizing: border-box;
    width: 20%;
    float: left;
    padding-left: 0;
    border-left: 2px solid black;
}
.middenkolom-mobile {
    display: none;
}
.rechterkolom, .contact-rechterkolom {
    box-sizing: border-box;
    float: left;
    width: 30%;
    margin: 0;
    margin-left: 2.5%;
    margin-right: 7.5%;
}
.contact-rechterkolom {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 0;
    float: right;
    padding-left: 5%;
    border-left: 2px solid black;
}
.contact-rechterkolom h2 {
    margin-top: 0;
    padding-top: 0;
}
#stappen li {
    list-style-type: none;
		border: none;
    margin-bottom: 20%;
    margin-left: 15%;
    background-color: #F88C20;
    width: 65%;
    padding: 2%;
    text-align: center;
}

#stappen .stapActive {
    border-right: 15px solid red;
}
#registerauto {
    width: 100%;
    margin-top: 25%;
}
.linkerkolom img {
    width: 100%;
    height: 200px;
}
.device-icons {
    margin-top: 15%;
}
.device-icons a {
    text-decoration: none;
}
.registreersprite {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    margin: 0;
    display: inline-block;
    text-indent: -9999px;
}
.Appstoreregistreer {
background: url(../img/applogos.png);
background-size: 200%;
background-position: 100% 0;

}
.Playstoreregistreer {
background: url(../img/applogos.png);
background-size: 200%;
    background-position: 0 0;
   
}
.Appstoreregistreer:hover {
    background: url(../img/applogos.png);
    background-size: 200%;
    background-position: 100% 100%;
}
.Playstoreregistreer:hover {
    background: url(../img/applogos.png);
    background-size: 200%;
    background-position: 0 100%;
}
/* CSS voor meer info */

/* ALGEMEEN */
 html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
}
header {
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    z-index: 100;
}
/* Meer info */
 .meerinfo h2 {
    text-align: center;
    margin: 50px 0;
}

/* Werking */
 .werkingContainer {
    box-sizing: border-box;
}
.werking {
    max-width: 35%;
    margin-left: 5%;
		text-align: justify;
    float: left;
}
.werking h3 {
    margin-bottom: 2%;
}
.werking p {
    margin-top: 0;
}
.sfeerAudi {
    max-width: 50%;
    float: right;
    margin: 2em 2.5% 1em 2.5%;
}
.sfeerAudi img {
    width: 100%;
}
.lastP {
    padding-bottom: 50px;
}

/* In de buurt */
 .buurtContainer {
    padding: 50px 0;
    background-image: url(../img/map.png);
    background-size: cover;
    clear: both;
    height: 700px;
    background-position: center;
}
.buurtContainer div {
    margin: auto;
    padding: 20px;
    width: 40%;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
		text-align: center;
}
.buurtContainer h2 {
    margin: 0;
    text-align: center;
}
.buurtContainer input, input#adres-enter {
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 20px;
    width: 60%;
    border: none;
}
input#adres-enter{
    width: 20%;
		text-align: center;
		background-color: white;
}
.buurtContainer input[placeholder]{
	text-align: center;	
}
.buurtContainer ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
}
.buurtContainer :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 1;
}
.buurtContainer ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}
.buurtContainer :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}
.buurtContainer :placeholder-shown {
    /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: black;
}
/* Besparen */
 .besparing h3 {
    margin-left: 7%;
    clear: both;
}
.besparingDeel1 p {
		
    margin-left: 20%;
		margin-right: 20%;
    width: 60%;
		text-align: center;
		margin-bottom: 2.5%;
}
.prijsBesparing {
    width: 60%;
    margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 5%;
}
.prijsBesparing img {
    width: 100%;
		margin-left: 0;
		margin-right: 0;
}
.berekeningForm {
    float: left;
    width: 30%;
    margin-left: 7%;
    margin-bottom: 50px;
}
.berekeningForm label {
    display: block;
    margin: 1em 0;
    font-weight: bold;
    color: dimgray;
}
.berekeningForm select {
    width: 50%;
    margin: 0 5%;
    padding-left: 1em;
}
.berekening .vergelijk {
    float: right;
    width: 60%;
}
.vergelijk .vergelijkTop {
    box-sizing: border-box;
    width: 40%;
    float: left;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    margin-left: 5%;
    padding: 2.5%;
    text-align: center;
}
.vergelijk .vergelijkTop:last-child{
	
	margin-right: 7%;
	margin-left: 0;
}

.vergelijk .vergelijkTop:first-child{
	
	margin-right: 0;
	margin-left: 3%;
}
.vergelijk .vergelijkTop h3 {
    margin: 0;
}
.vergelijkingBottom {
    clear: both;
    padding-top: 10px;
    text-align: center;
		margin-right: 7%;
}
.vergelijkingBottom h3 {
    border-bottom: 2px solid dimgray;
    margin: 1em;
}
/* Klassebak */
 .klassebak {
    padding: 50px 0;
    background-image: url(../img/sfeerA1sportback.jpg);
    background-size: cover;
    clear: both;
    height: 700px;
    background-position: center;
}
.klassebak div {
    padding: 20px;
    margin: auto;
    width: 40%;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    text-align: center;
}
.klassebak h2 {
    margin: 0;
}
/* Bolides App */
 .appContainer {
    box-sizing: border-box;
}
.appVoordeel {
    width: 30%;
    margin-left: 55%;
		
}
.appVoordeel li {
    padding: 1em;
}
.gsmApp {
    width: 40%;
    margin: -22.5% 2.5% 0 15.5%;
		margin-bottom: 0;
		
}
.gsmApp img {
    width: 50%;
    margin: 0 25%;
}
.headerregister {
    position: static;
}
/* CSS voor mediaquery */
 @media only screen and (max-width: 633px) {
	 body{
		overflow-x: hidden; 
		max-width: 100%;
	 }
    #faq-zoek {
        margin-left: 7.5%;
        margin-right: 7.5%;
        width: 85%;
        height: 10%;
    }
    #faq-zoek-input input {
        margin-top: 1.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        width: 50%;
    }
    .faq-left, .faq-right {
        width: 100%;
        padding: 0;
        margin-top: 50px;
    }
    #faq h2, #faq h1 {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .faq-cat {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .faq-left-detail {
        display: inline-block;
        box-sizing: border-box;
        margin-right: 7.5;
        margin-left: 7.5%;
        margin-top: 200px;
        width: 85%;
        float: left;
        text-align: justify;
    }
    .faq-right-detail {
        display: inline-block;
        box-sizing: border-box;
        margin-left: 7.5%;
        margin-right: 7.5%;
        margin-top: 5%;
        width: 85%;
        float: left;
    }
    #faqregister1img {
        width: 100%;
        margin: 0;
    }
     .werking, .sfeerAudi, .gsmApp, .appVoordeel, .berekeningForm, .prijsBesparing, .besparingDeel1 p {
        float: none;
        max-width: 100%;
    }
    .sfeerAudi {
        margin-bottom: 50px;
    }
    .buurtContainer div, .klassebak div {
        width: 90%;
    }
    .berekeningForm, .berekening .vergelijk {
        float: none;
        width: 100%;
    }
     .banner {
        height: 400px;
    }
    .banner div {
        margin-top: 40px;
        width: 80%;
    }
    .buurtContainer, .klassebak {
        height: 400px;
    }
	 	.contact-linkerkolom input, .contact-linkerkolom textarea{
			margin-right: 0;
			margin-left: 0;
			padding-left: 0;
		}
    .contact-linkerkolom {
				box-sizing: border-box;
        float: none;
        width: 95%;
        margin-left: 5%;
        margin-right: 5%;
				padding: 0;
    }
    .contact-rechterkolom {
        float: none;
        border: none;
        width: 100%;
				text-align: center;
				padding: 0;
				
    }
    input#verzendencontact{
	width: 95%;
}

.contact-linkerkolom input{
	width: 95%;
}

.contact-linkerkolom textarea{
	width: 95%;
	max-width: 95%;
	resize: none;
}
    html, body {
        width: 100%;
    }
    header{
                    height: 125px;
                    position: static;
                    background: black;
                }
.logo {
                    width: 45%;
                    margin-left: 5%;
                }
 .aanmelden {
                    position: relative;
                    top: -80px;
                    right: -65%;
                }
    .mainnav {
        width: 100%;
    }
    .mainnav ul li {
                    width: 33%;
                    margin-top: 5px;
                }
    .banner {
        height: 400px;
    }
    .banner div {
        margin: 5%;
        width: 80%;
        float: none;
        display: inline-block;
    }
    .container {
        padding: 0;
    }
    .voordelen .voordelen-1 div {
        width: 50%;
        margin-bottom: 50px;
    }
    .voordelen .voordelen-2 ul {
        width: 100%;
        margin-top: 250px;
    }
	 .voordelen .voordelen-2 ul li{
			padding: 1em; 
	 }
    .voordelen .voordelen-2 div {
        width: 100%;
        height: 200px;
        display: block;
    }
    .slider {
        height: 300px;
        width: 100%;
        padding: 0;
    }
    .slider .slider-content {
        width: 80%;
        margin: 18% 5%;
        display: inline-block;
    }
    .map {
        height: 400px;
    }
    .map div {
        width: 80%
    }
	 .kosten .kosten-2 h3{
			width: 100%;
		 	text-align: center;
	 }
    .kosten .kosten-2 div:first-child {
        float: none;
        width: 100%;
        display: block;
        height: 400px;
				
    }
    .kosten .kosten-2 div:last-child {
        float: none;
        display: block;
        width: 100%;
        padding-left: 0;
    }
    .kosten .kosten-2 ul li {
        padding: 10px;
				width: 30%;
				margin-left: 30%;
				
    }
	 
    .voordelen .voordelen-2 ul li {
        padding: 10px;
        padding-left: 7.5%;
    }
    .kosten .kosten-2 h3 {
        padding-top: 50px;
        margin-top: 0;
    }
	 .werking{
		 		width: 90%;
		 		margin: 0 5% 0 5%;
	 }
	 .besparingDeel1 p{
		width: 90%;
		 margin: 0 5% 0 5%;
		 text-align: justify
	 }
	 
	 .prijsBesparing{
		 width: 90%;
		 margin: 2.5% 5% 0 5%;
		 transform: scale(1.01);
		 
	 }
	 .berekening{
		margin-left: 0; 
	 }
	 .berekening h3{
			width: 100%;
		 	text-align: center;
		 margin: 0;
	 }
	 .berekeningForm{
		 width: 60%;
		 margin: 0 20% 2.5% 20%;
	 }
	 .berekeningForm label{
			text-align: center; 
	 }
	 .berekeningForm select{
		width: 100%; 
		 margin: 0;
	 }
	 div.vergelijk{
		width: 100%;
		 margin-left: 0;
		 margin-right: 0;
	 }
	 .vergelijk:first-child{
		margin-right: 0;
		width: 100%;
		
	 }
	 .vergelijk:last-child{
		margin-left: 7.5%;
		margin-right: 0;
		width: 90%;
	 }
	 .gsmApp{
			width: 90%;
		 	float: left;
		 	margin-left: 0;
	 }
	 .appVoordeel{
		width: 90%; 
		margin-left: 10%;
		margin-bottom: 25%;
	 }
	 
	 
	 /* register */
     .linkerkolom {
         float: none;
         width: 90%;
     }
     input.volgende-apart {
         float: none
     }
     .rechterkolom, .middenkolom {
         display: none;
     }
     .middenkolom-mobile {
         display: block;
     }
#stappen li {
         box-sizing: border-box;
         display: none;
         width: 40%;
margin: 0;
         margin-left: 25%;
     }
     #stappen {
         padding-left: 7.5%;
width: 95%;
     }
     
     #stappen li.stapActive {
         display: inline-block;
border: none;
     }
     
}
footer .m-onder {
  display: none;
}
.reg-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 633px) {
  footer {
    background-color: RGB(0, 0, 0);
    color: white;
    font-family: Arial;
      font-size: 0.8em;
    padding: 0 5%;
  }
  footer .boven .social {
    display: none;
  }
  footer .boven .form {
    width: 100%;
    float: none;
  }
  footer .boven div form {
    float: none;
  }
  footer .boven div form label {
    display: none;
    margin: 0;
    
  }
  footer .boven div form input {
    padding: 2%;
  }
  footer .boven div form input:first-child {
    clear: both;
  }
  footer .boven div form input:last-child {
    clear: left;
  }
  footer .boven div form .email {
    width: 61%;
  }
  footer .boven div form .verzenden {
    width: 32.8%;
  }
  footer .onder {
    border-top: 0;
  }
  footer .onder div {
    width: 100%;
    float: none;
    margin: 3px 0;
  }
  footer .onder div p {
    display: none;
  }
  footer .onder div ul {
    float: none;
    width: 100%;
    padding: 0;
  }
  footer .onder div:last-child ul li {
    display: inline-block;
    width: 28%;
    float: left;
    text-align: center;
    background: #F39423;
    padding: 2%;
    margin-right: 1%;
  }
  footer .onder div:last-child ul li:last-child {
    margin-right: 0;
    width: 29%;
  }
  footer .onder div:last-child ul li a {
    background: #F39423;
    padding: 2%;
    width: 100%;
  }
  footer .onder div:last-child ul li span {
    display: none;
  }
  footer .onder div:last-child ul li a span {
    display: none;
  }
  footer .m-onder {
    display: block;
    margin: auto;
    padding-top: 30px;
  }
  footer .m-onder ul li {
    list-style: none;
  }
  footer .m-onder ul li a .m-sprite {
    width: 15%;
    height: 0;
    padding-bottom: 15%;
    margin-right: 3%;
    float: left;
    display: block;
    text-indent: -9999px;
  }
  footer .m-onder ul li:first-child a .m-sprite {
    margin-left: 19%;
  }
  footer .m-onder p {
    clear: both;
    text-align: center;
    padding-top: 10px;
  }
}

