@media only screen and (min-width: 633px){ 
.smaller {
    height: 25px;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 1em 0;
     -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.smaller nav {
    width: 70%;
    float: right;
    margin: 0px 0px 0px 30%;
    position: fixed;
    top: -20px;
    transition: top 0s ease 0s, position 0.3s ease 0s !important;
}
.smaller .logo {
	background-image: url("../img/logoBolidesheader-01.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 1%;
	width: 29%;
	float: left;
	height: 100px;
	position: fixed;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
	top: -20px;
	 -webkit-transition: top, -webkit-transform 0.3s;
    -moz-transition: top, -moz-transform 0.3s;
    -ms-transition: top, -ms-transform 0.3s;
    -o-transition: top, -o-transform 0.3s;
    transition: top, transform 0.3s;
}
header {
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.nav {
	-webkit-transition: top, position 0.3s;
    -moz-transition: top, position 0.3s;
    -ms-transition: top, position 0.3s;
    -o-transition: top, position 0.3s;
    transition: top, position 0.3s;
}
.logo {
	 -webkit-transition: top, transform 0.3s;
    -moz-transition: top, transform 0.3s;
    -ms-transition: top, transform 0.3s;
    -o-transition: top, transform 0.3s;
    transition: top, transform 0.3s;
}
}